# Configuration file

general {
    # Set to true for verbose debug
    B:debug=false

    # Server unique ID
    S:guid=560def3a-1fc3-40c3-95a1-e6a80b88d446

    # Set to true to disable all reporting
    B:opt-out=false
}


